@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/text/outfit/Outfit-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/text/outfit/Outfit-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/text/outfit/Outfit-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/text/outfit/Outfit-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/text/outfit/Outfit-800.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/text/jetbrains-mono/JetBrainsMono-400.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/text/jetbrains-mono/JetBrainsMono-500.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/text/jetbrains-mono/JetBrainsMono-600.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/text/jetbrains-mono/JetBrainsMono-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../assets/fonts/text/geist/Geist-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/text/geist/Geist-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/fonts/text/geist/Geist-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/text/geist/Geist-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/text/geist/Geist-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/text/geist/Geist-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/text/geist/Geist-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/text/geist/Geist-800.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../assets/fonts/text/geist/Geist-900.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-normal-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-normal-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-normal-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-normal-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-normal-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-normal-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-normal-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-normal-800.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-normal-900.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-italic-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-italic-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-italic-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-italic-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-italic-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-italic-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-italic-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-italic-800.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('../assets/fonts/text/hanken-grotesk/HankenGrotesk-italic-900.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-normal-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-normal-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-normal-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-normal-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-normal-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-normal-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-normal-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-normal-800.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-normal-900.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-italic-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-italic-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-italic-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-italic-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-italic-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-italic-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-italic-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-italic-800.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('../assets/fonts/text/inter/Inter-italic-900.ttf') format('truetype');
}
